{{- $packageName := .PackageName }}
{{- $serviceInterface := printf "%s.%s" .PackageName .Name -}}
{{- $serviceName := .Name }}

package endpoint

import (
	"context"

	"github.com/go-kit/kit/endpoint"
	"{{ .Package }}"
)

// {{ .Name }}Endpoints ...
type {{ .Name }}Endpoints struct {
{{ range $endpoint := .Endpoints }}
	{{- $endpoint.Name }}Endpoint endpoint.Endpoint
{{ end -}}
}

// Make{{ .Name }}Endpoints returns an Endpoints struct where each endpoint invokes
// the corresponding method on the provided service.
func Make{{ .Name }}Endpoints(s {{ $serviceInterface }}) {{ .Name }}Endpoints {
	return {{ .Name }}Endpoints{
	{{ range $endpoint := .Endpoints }}
		{{- $endpoint.Name }}Endpoint: make{{ $serviceName }}{{ $endpoint.Name }}Endpoint(s),
	{{ end -}}
	}
}

{{ range $endpoint := .Endpoints }}
// make{{ $endpoint.Name }}Endpoint returns an endpoint via the passed service.
func make{{ $serviceName }}{{ $endpoint.Name }}Endpoint(s {{ $serviceInterface }}) endpoint.Endpoint {
	return func(ctx context.Context, request interface{}) (interface{}, error) {
	{{- $requestType := (index $endpoint.Params 1).Type }}
		req := request.({{ $requestType }})
		resp, e := s.{{ $endpoint.Name }}(ctx, req)
		return resp, e
	}
}
{{end}}