
// {{ .Name }} ...
//go:generate gokitgen entity -name {{ .Name }}
type {{ .Name }} struct {
	ID        int64     `gorm:"primary_key"`
	CreatedAt time.Time `gorm:"not null"`
	UpdatedAt time.Time `gorm:"not null"`
}
