package handlers

import (
	"context"

	"{{ .Package }}"
)

type handlerImpl struct {
}

func (h *handlerImpl) Hello(ctx context.Context, req *{{ .PackageName }}.Request) (*{{ .PackageName }}.Response, error) {
	return nil, nil
}

func (h *handlerImpl) Bye(ctx context.Context, req *{{ .PackageName }}.ByeRequest) (*{{ .PackageName }}.ByeResponse, error) {
	return nil, nil
}

// New creates a new service with business logic.
func New() {{ .PackageName }}.Service {
	return &handlerImpl{}
}
