package main

import (
	"log"

	"{{ .Package }}/internal/handlers"
	"{{ .Package }}/internal/server"
	gokitServer "github.com/bongnv/gokit/util/server"
)

func main() {
	opts := []gokitServer.Option{}
	opts = append(opts, server.GetServiceOptions(handlers.New())...)

	err := gokitServer.Serve(
		opts...,
	)


	log.Println("Service stopped with:", err)
}
