package {{ .PackageName }}

import "context"

// Service is a simple interface for a service.
type Service interface {
	Hello(ctx context.Context, p *HelloRequest) (*HelloResponse, error)
	Bye(ctx context.Context, req *ByeRequest) (*ByeResponse, error)
}

// HelloRequest presents a request.
type HelloRequest struct {
	Name string `json:"name"`
}

// HelloResponse ...
type HelloResponse struct {
	Text string `json:"text"`
}

// ByeRequest presents a request.
type ByeRequest struct {
	Name string `json:"name"`
}

// HelloResponse ...
type ByeResponse struct {
	Text string `json:"text"`
}
