{{- $packageName := .PackageName }}
{{- $serviceInterface := printf "%s.%s" .PackageName .Name -}}
{{- $serviceName := .Name }}

package server

import (
	"context"
	"encoding/json"
	"net/http"

	"github.com/bongnv/gokit/util/server"
	"{{ .Package }}"
	"{{ .Package }}/internal/endpoint"
)

// Get{{ .Name }}Options ...
func Get{{ .Name }}Options(s {{ $serviceInterface  }}) []server.Option {
	serverEndpoints := endpoint.Make{{ .Name }}Endpoints(s)

	opts := []server.Option{}

	opts = append(opts,get{{ .Name }}HTTPOptions(serverEndpoints)...,)

	return opts
}

func get{{ .Name }}HTTPOptions(serverEndpoints endpoint.{{ .Name }}Endpoints) []server.Option {
	opts := []server.Option{}

	opts = append(opts,
    {{range $endpoint := .Endpoints -}}
        server.WithHTTPEndpoint(server.Endpoint{
            Method:         "{{ $endpoint.Method }}",
            Path:           "{{ $endpoint.HTTPPath }}",
            Endpoint:       serverEndpoints.{{ $endpoint.Name }}Endpoint,
            RequestDecoder: decode{{ $serviceName }}{{ $endpoint.Name}}Request,
        }),
    {{ end -}}
	)

	return opts
}

{{ range $endpoint := .Endpoints }}
func decode{{ $serviceName }}{{ $endpoint.Name}}Request(_ context.Context, r *http.Request) (request interface{}, err error) {
	{{- $requestType := (index $endpoint.Params 1).Type }}
	var req {{ $requestType }}
	if err := json.NewDecoder(r.Body).Decode(&req); err != nil {
		return nil, err
	}

	return req, err
}
{{end}}
